<!DOCTYPE html>
html(lang="en" ng-app="tableful")
head
 meta(charset="UTF-8")
 title TableFul


 //- angular
 script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js").

 //- angular-route
 script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js").

 //- bootstrap for angular 
 script(src='./stylesheets/ui-boostrap.js').

 //- satellizer
 script(src="bower_components/satellizer/satellizer.js").

 //- client side JS
 script(src='./javascripts/app.js').
 script(src='./javascripts/components.js').
 script(src='./javascripts/controllers.js').
 script(src='./javascripts/services.js').

 //- bootstrap css/fontawesom/stylesheet
 link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
 link(href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
 link(href='/stylesheets/style.css')

body
 html
  p
    a(href='/reservations') Explore Tableful
  p
    a(href='/venues') Manage Venue