<nav id="siteNavBar" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display-->
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><br/><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a id="navbarBrand" href="/" class="navbar-brand"><img id='logo' src='/assets/images/logo.png'></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling-->
    <div id="navCollapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right notLayout">
        <li><a href="/venues">Venues </a></li>
<!--         <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact  </a></li> -->
        <li fb-login-btn></li>
      </ul>
    </div>
  <!-- /.navbar-collapse-->
  </div>
<!-- /.container-fluid-->
</nav>