<div>
  <div id="homepageCarousel" data-ride="carousel" class="carousel slide">
  <!-- Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homepageCarousel" data-slide-to="1"></li>
    <li data-target="#homepageCarousel" data-slide-to="2"></li>
    <li data-target="#homepageCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides-->
  <div role="listbox" class="carousel-inner">
    <div class="item active"><img src="assets/images/lasers.jpg" alt="TableFul"/>
      <div id="carouselCaption" class="carousel-caption">TableFul</div>
    </div>
    <div class="item"><img src="assets/images/club1.JPG" alt="TableFul"/>
      <div id="carouselCaption" class="carousel-caption">for a great night out</div>
    </div>
    <div class="item"><img src="assets/images/club2.jpg" alt="TableFul"/>
      <div id="carouselCaption" class="carousel-caption">friends new and old</div>
    </div>
    <div class="item"><img src="assets/images/bottles1.jpg" alt="TableFul"/>
      <div id="carouselCaption" class="carousel-caption">sign in with Facebook</div>
    </div>
  </div>
  <!-- Controls--><a href="#homepageCarousel" role="button" data-slide="prev" class="left carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Previous</span></a><a href="#homepageCarousel" role="button" data-slide="next" class="right carousel-control"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Next</span></a>
</div>
<div id="homepageText">
  <p>TableFul makes it easy to reserve a VIP table at an upscale club with a click of a button. We currently serve the San Francisco Bay Area, and we're expanding fast!</p>
</div>
<div class="row">
  <div class="static col-xs-6">
    <div id="homeLeft">
      <h2>Getting Started</h2>
      <p>Simply sign in via Facebook to reserve one or more tables tonight! Choose an open table at the venue of your choice and reserve it for the night you want to visit. Once your reservation is confirmed, the venue will be updated. Then all that's left is to enjoy the night.</p><a href="/getstarted" role="button" class="btn btn-primary">Need more help?</a>
    </div>
  </div>
  <div class="static col-xs-6">
    <div id="homeLeft">
      <h2>About Us</h2>
      <p>We work with the most popular clubs to open up unreserved tables to individuals and groups who want to enjoy all the perks of bottle service. Treat a small group of your friends or throw a massive party. It's time for some fun. </p><a href="/about" role="button" class="btn btn-primary">More about us</a>
    </div>
  </div>
</div>
  
</div>